* {
  /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
  box-sizing: border-box;
}

.containerHR {
  display: inline-block;
  justify-content: center;
  flex-direction: "column";
  flex-wrap: wrap;
  align-content: center;
}

/* Card styling */
.cardHR {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 60px;
  border: solid 2px lightgrey;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 2px 2px #c7c5c5;
}

.studentNameHR {
  font-size: 8pt;
  font-weight: bold;
  color: grey;
}

.makeYellow {
  background-color: yellow;
}
