* {
  /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
  box-sizing: border-box;
}

.containerHR {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

/* Card styling */
.cardHR {
  display: flex;
  justify-content: left;
  width: 800px;
  height: 60px;
  border: solid 2px lightgrey;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 2px 2px #c7c5c5;
}

.studentNameHR {
  font-size: 8pt;
  font-weight: bold;
  color: grey;
}

.checkedHR {
  text-decoration: line-through;
}

.checkboxHR {
  display: flex;
  align-items: center;
}

.leftCardHR {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middleCardHR {
  display: flex;
  justify-content: left;
}

.rightCardHR {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 400px;
}
