:root {
	--main-blue: #43c0f6;
	--light-blue: #b2e4fa;
	--superlight-blue: #d9f2fd;
}

.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.dashboard__toolbar {
	width: 100%;
	padding: 0.5em 1.5em 0.5em 1em;
	height: 60px;
	/* height: 100px; */
	background-color: white;
	display: flex;
	justify-content: space-between;
}

.dashboard__toolbar__flag-container {
	display: flex;
	gap: 1em;
	align-self: center;
}

.dashboard__container {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-basis: 100%;
	/* height: 100%; */
}


.container__panel--left {
	background-color: var(--main-blue);
	width: 350px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.panel--left__profile {
	background-color: red;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 1em auto;
}

.panel--left__item {
	background-color: none;
	font-family: 'Nunito';
	color: white;
	text-transform: uppercase;
	width: 100%;
	padding: 1em;
	user-select: none;
	cursor: pointer;
	text-align: left;
	font-weight: 900;
	display: flex;
	gap: 1em;
	/* height: 80px; */
	/* justify-content: space-between; */
	align-items: center;
	/* align-self: center;     */
}

.panel--left__item img {
	height: 30px;
}

.panel--left__item--selected {
	background-color: var(--light-blue);
	color: black;
}

.container__panel--right {
	background-color: var(--light-blue);
	flex-basis: 100%;
	padding: 1em 1.5em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.container__panel--right__inner {
	/* margin: 2em; */
	flex-basis: 100%;
	height: 100px;
	background-color: var(--superlight-blue);
	border-radius: 20px;
	padding: 2em;
}


.panel--right__buttonContainer {
	display: flex;
	gap: 1em;
	justify-content: right;
}