:root {
	--main-blue: #43c0f6;
	--light-blue: #b2e4fa;
	--superlight-blue: #d9f2fd;
	--defaultGrey: #6c6c6c;
	--pale-yellow: #fcf6bf;
}

.submit-project__container {
	display: flex;
	align-items: center;
}

.submit-project__half {
	background-color: red;
	flex: 100%;
	height: 100%;
}

.submit-project__half h1 {
	color: var(--defaultGrey);
	font-family: 'Nunito';
}

.submit-project__half p {
	color: var(--defaultGrey);
	font-family: 'Nunito';
}

.submit-project__submit-button {
	background-color: pink;
}