:root {
	--main-blue: #43c0f6;
	--light-blue: #b2e4fa;
	--superlight-blue: #d9f2fd;
	--defaultGrey: #6c6c6c;
	--pale-yellow: #fcf6bf;
}

.submit-project__container {
	display: flex;
	align-items: center;
	height: 100%;
}

.submit-project__half {
	flex: 100%;
	height: 100%;
}

.submit-project__half > img {
	width: 60%;
}

.submit-project__half h1 {
	color: var(--defaultGrey);
	font-family: 'Nunito';
}

.submit-project__half p {
	color: var(--defaultGrey);
	font-family: 'Nunito';
}

input[type="file"] {
	display: none;
}

.upload-screenshot-label {
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	cursor: pointer;
}

.send-photo-button__inner {
	display: flex;
	flex-direction: column;
	padding: 1em 3em;
	gap: 0.5em;
}

.send-photo-button img {
	display: block;
	height: 40px;
	align-self: center;
}